:root {
    --primary-color: #ffffff;
}


@font-face {
    font-family: "roboto-bold";
    src: url("../storage/font/Roboto/static/Roboto-Bold.ttf");
}


@font-face {
    font-family: "roboto-light";
    src: url("../storage/font/Roboto/static/Roboto-Light.ttf");
}