@import url(variables.css);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/********************************* MENU HEADER ************************************/

.caja_header {
    background: #00a2ff;
    display: flex;
    height: 55px;
    padding-left: 310px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.caja_encabezado {
    border: 2px solid red;
    display: flex;
    
}
.caja_menu{
    border: 2px solid rgb(16, 174, 16);
    display: flex;
    align-items: center;
}
.caja_menu img{
    border: 2px solid rgb(255, 0, 255);
    max-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja_usuario {
    border: 2px solid rgb(77, 105, 128);
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.caja_usuario img{
    border: 2px solid rgb(17, 255, 0);
    max-width: 45px;
    
}
.caja_usuario span{
    border: 2px solid rgb(107, 77, 128);
    width: 50%;
    height: 50%;
}
.caja_salir {
    border: 2px solid rgb(16, 174, 16);
    display: flex;
    align-items: center;
}
.caja_salir img{
    border: 2px solid rgb(38, 0, 255);
    max-width: 35px;

}


/************************************ ASIDE MENU ***************************************/


.caja_aside {
    background: #c2c2c2;
    width: 20%;
    height: 92vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.caja_user {
    border: 2px solid rgb(204, 255, 0);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.caja_user img{
    border: 2px solid rgb(255, 251, 0);
    max-width: 100px;
}
.infor_user {
    border: 2px solid rgb(9, 255, 0);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infor_user h5{
    border: 2px solid rgb(0, 255, 242);
}
.infor_user p{
    border: 2px solid rgb(0, 119, 255);
}
.status{
    border: 2px solid rgb(4, 0, 255);
    display: flex;
}
.status img{
    border: 2px solid rgb(255, 0, 255);
    max-width: 30px;
    padding-right: 10px;
}
.status span{
    border: 2px solid rgb(255, 0, 132);
}
.Menus {
    border: 2px solid rgb(68, 255, 0);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Menus span{
    border: 2px solid rgb(255, 0, 255);
    padding: 5px;
    display: flex;
    justify-content: center;
}
/* MENU 1 */
.caja_pendiente {
    border: 2px solid rgb(25, 0, 255);
    display: flex;
    align-items: center;
    padding: 5px;
}
.caja_pendiente img{
    border: 2px solid rgb(77, 255, 0);
    max-width: 35px;
    margin-right: 20px;
}
.caja_pendiente span{
    border: 2px solid rgb(238, 0, 255);
}
/* MENU 2 */
.caja_progreso {
    border: 2px solid rgb(25, 0, 255);
    display: flex;
    align-items: center;
    padding: 5px;
}
.caja_progreso img{
    border: 2px solid rgb(77, 255, 0);
    max-width: 35px;
    margin-right: 20px;
}
.caja_progreso span{
    border: 2px solid rgb(238, 0, 255);
}
/* MENU 3 */
.caja_finalizado {
    border: 2px solid rgb(25, 0, 255);
    display: flex;
    align-items: center;
    padding: 5px;
}
.caja_finalizado img{
    border: 2px solid rgb(77, 255, 0);
    max-width: 35px;
    margin-right: 20px;
}
.caja_finalizado span{
    border: 2px solid rgb(238, 0, 255);
}

