@import url('variables.css');

* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url('../storage/img/Edna\ Mode.jpeg');
    font-family:'comfortaa';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ancho máximo para el formulario en escritorio */
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #ffc107; /* Color amarillo */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #288fd3; /* Tono más oscuro al pasar el ratón */
}

.botones-contenedor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recuperar-contrasena {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.recuperar-contrasena:hover {
    text-decoration: underline;
}

/* Media Queries para hacerlo más responsive */
@media (max-width: 500px) {
    .login-box {
        margin: 20px;
        padding: 20px;
    }
}